#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.button {
  /* position: fixed; */
  bottom: 0px; /* Adjust the value to position the button as desired */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  border: 2px solid #d1fae5; /* rgb(175, 255, 238); */
  border-radius: 10px;
  box-shadow: 2px 2px 10px ; /*1st: x offset 2nd: y offset 3rd: blur radius */
}
 
.button:active {
  background-color: #fb7185;
}


.read-the-docs {
  color: #888;
}
